[menu footer_menu]
start = "id-2"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "Opt-out here"
link = "/data-privacy#cookies"
theme = "dark-bottom"

[jumbotron footer_disclimer]
jumbotron = "footer"
background = "transperant"
templates = "template3"
description_limit = 0

[menu about]
start = "id-2"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu activities]
start = "id-6"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu involved]
start = "id-10"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu news]
start = "id-13"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu library]
start = "id-17"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu media]
start = "id-23"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
{% component 'cookieConsent' %}
<div class="container-fluid border-box dark-background">
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-md-2 col-xs-12 start-md center-xs">
                <div class="project_footer_logo">BioAgora</div>
            </div>
            <div class="col-md-2 col-xs-12 links">
                <div>
                About
                {% component 'about' %}
                </div>
                <div>
                Activities
                {% component 'activities' %}
                </div>
                <div>
                Get involved
                {% component 'involved' %}
                </div>

            </div>
            <div class="col-md-2 col-xs-12 links">

                <div>
                    News and events
                    {% component 'news' %}
                </div>
                <div>
                    Library
                    {% component 'library' %}
                </div>
                <div>
                    Media centre
                    {% component 'media' %}
                </div>
            </div>
            <div class="col-md-4 col-xs-12 funded_by">
                {% if (footer_funds_flag != null) %}
                <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-sm col-xs-12">
                    {% if footer_funds_flag %}
                    <img class="mr-0 mr-lg-1" src="{{ footer_funds_flag }}"/>
                    {% endif %}
                </div>
                {% endif %}
                {{ footer_funds_text }}
                <a class="btn btn-primary" href="{{'contact'|page}}">Contact us</a>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid border-box light-background">
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-xs-12 powered-by center-xs">
                <a href="{{'legal-notice'|page}}">Legal notice</a> &nbsp; - &nbsp; <a href="{{'data-privacy'|page}}">Data privacy</a>
            </div>
        </div>
    </div>
</div>