[menu footer_menu]
start = "id-2"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "Opt-out here"
link = "/data-privacy#cookies"
theme = "dark-bottom"

[jumbotron footer_disclimer]
jumbotron = "footer"
background = "transperant"
templates = "template3"
description_limit = 0

[menu about]
start = "id-2"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu activities]
start = "id-6"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu involved]
start = "id-10"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu news]
start = "id-13"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu library]
start = "id-17"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[menu media]
start = "id-23"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
{% component 'cookieConsent' %}
<footer class="container-fluid border-box dark-background" role="contentinfo" aria-label="Site footer">
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <!-- Logo/Brand Section -->
            <div class="col-md-2 col-xs-12 start-md center-xs">
                <div class="project_footer_logo">
                    BioAgora
                </div>
            </div>

            <!-- Primary Navigation Links -->
            <div class="col-md-2 col-xs-12 links">
                <div>
                    About
                    {% component 'about' %}
                </div>
                <div>
                    Activities
                    {% component 'activities' %}
                </div>
                <div>
                    Get involved
                    {% component 'involved' %}
                </div>

            </div>
            <div class="col-md-2 col-xs-12 links">

                <div>
                    News and events
                    {% component 'news' %}
                </div>
                <div>
                    Library
                    {% component 'library' %}
                </div>
                <div>
                    Media centre
                    {% component 'media' %}
                </div>
            </div>


            <!-- Funding and Contact Section -->
            <div class="col-md-4 col-xs-12 funded_by">
                <section aria-labelledby="funding-heading">
                    <h3 id="funding-heading" class="sr-only">Funding Information</h3>
                    {% if (footer_funds_flag != null) %}
                    <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-sm col-xs-12">
                        {% if footer_funds_flag %}
                        <img class="mr-0 mr-lg-1"
                             src="{{ footer_funds_flag }}"
                             alt="Funding organization logo"
                             role="img"
                             aria-describedby="funding-text"/>
                        {% endif %}
                    </div>
                    {% endif %}
                    <p id="funding-text">{{ footer_funds_text }}</p>
                    <a class="btn btn-primary"
                       href="{{'contact'|page}}"
                       aria-describedby="contact-desc">
                        Contact us
                    </a>
                    <span id="contact-desc" class="sr-only">Get in touch with the BioAgora team</span>
                </section>
            </div>
        </div>
    </div>
</footer>

<!-- Legal Footer Section -->
<footer class="container-fluid border-box light-background" role="contentinfo" aria-label="Legal information">
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-xs-12 powered-by center-xs">
                <nav aria-label="Legal navigation" role="navigation">
                    <ul class="legal-links" role="list">
                        <li>
                            <a href="{{'legal-notice'|page}}" aria-describedby="legal-desc">
                                Legal notice
                            </a>
                            <span id="legal-desc" class="sr-only">View legal notice and terms</span>
                        </li>
                        <li aria-hidden="true">&nbsp;-&nbsp;</li>
                        <li>
                            <a href="{{'data-privacy'|page}}" aria-describedby="privacy-desc">
                                Data privacy
                            </a>
                            <span id="privacy-desc" class="sr-only">Read our privacy policy</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
