url = "/capacity-building-materials"
layout = "default"
title = "Capacity Building Materials"

[siteSearchInclude]

[jumbotron]
jumbotron = "capacity-building"
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Knowledgelibrary\Models\Data;
use Carbon\Carbon;
use System\Models\File;

function onStart(){
    $this['publications'] = Data::where('format_id', 3)->get();


    if(get('download')){
        $file = File::find((int)get('download'));
        $file_name = $file->getLocalPath();
        $recordName = get('file_name') ? get('file_name') : 'REST-COAST_flyer';
        $ext= $file->getExtension();

        if (file_exists($file_name)) {
            header('Content-Description: File Transfer');
            header('Content-Type: application/octet-stream');
            header("Content-Type: application/force-download");
            header('Content-Disposition: attachment; filename='.$recordName);
            header('Content-Transfer-Encoding: binary');
            header('Expires: 0');
            header('Cache-Control: must-revalidate, post-check=0, pre-check=0');
            header('Pragma: public');
            header('Content-Length: ' . filesize($file_name));
            ob_clean();
            flush();
            readfile($file_name);
            exit();
        }
        return Redirect::to('/media-center/flyer');
    }

}
?>
==
{% component 'siteSearchInclude' %}
{% component 'jumbotron' %}

<div class="container">
    {% for item in publications %}
        {% set url = ''  %}
        {% if item.web_page %}
            {% set url = item.web_page  %}
        {% endif %}
    <div class="row middle-md">
        <div class="col-md-4 col-xs-12"><img src="{{item.cover.getThumb(150, 150, { mode: 'crop' })}}"></div>
        <div class="col-md-8 col-xs-12"><a href="
        {% if item.file %}
            {{ ''| page }}?{{queries}}&download={{item.file.id}}&file_name={{item.file.file_name|replace({' ': '_'})}}
        {% else %}
            {{url}}
        {% endif %}
" target="_blank" title="{{item.title}}">{{item.title}}</a></div>
    </div>
    {% endfor %}
</div>
